<div class="budzet watch-video w-100 d-inline-block align-top">
    <div class="container">
        <div class="main-row w-100 position-relative">
           
          
                <div class="col-md-12 ps-md-0">
                    <div class="insights-bgcolor">
                        <div class="contact-us account-tabbing w-100 d-inline-block">
                            <h1 class="insights-title text-center mt-0">Get in touch with us</h1>
                            
                            <form [formGroup]="contactFrom"  class="Form account-form w-100 mw-100 d-inline-block bg-white" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" formControlName="name" class="form-control" placeholder="Your Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                    </div>
                                  
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="text" formControlName="email" placeholder="Your email address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                   
                                </div>
                                <div class="form-group textarea-box m-0">
                                        <label class="notes-title">Message</label>
                                        
                                        <textarea class="textarea-note mb-0"  rows="4" cols="50"  formControlName="message"  placeholder="Your Message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"> </textarea>
                                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                            <div *ngIf="f.message.errors.required">Message is required</div>
                                            
                                        </div>
                                 
                                    </div>
                                
                                <button type="submit" class="btn btn-success">Send Message </button>
                            </form>

                            <footer class="footer footer-watchvideo w-100 d-inline-block">
                                <ul class="d-flex justify-content-center list-unstyled">
                                    <li><a href="#">Terms of Service</a><span class="border-shape"></span></li>
                                    <li><a href="#">Privacy Policy</a><span class="border-shape"></span></li>
                                    <li><a routerLink="/app/contact-us">Contact Us</a><span class="border-shape"></span></li>
                                    <li><a href="#">About Us</a><span class="border-shape"></span></li>
                                    <li><a href="#">Subscription</a></li>
                                </ul>
                                <p class="footer-bottom text-center mb-0">Ⓒ StworzSwojBudzet, Inc. All Rights Reserved.</p>
                            </footer>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>

