.text{
    text-align: center;
    padding: 4px;
    size: 34px;
}
.center{
    left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}
.abcd
{
    font-weight: bold;
}
.card-title{
    font-weight: bold;
}