thead th {
    background-color: #5AC7F5;
    color: white;
}
.Transcation{

    position:fixed;
    right:120px;
    top:85px;
    size: 13px;
    background-color: #5AC7F5;
    color: white;
    border-radius: 18px;
  
 }