<header class="budzet-header w-100 d-inline-block align-top">
    <div class="container">
        <a href="/" class="navbar-brand p-0"><img src="assets/front/img/header-logo.png"></a>
    </div>
</header>
<section class="email-verification w-100 d-inline-block">
    <div class="container">
        <div class="verification-box w-100 d-inline-block">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="panel shadow center-xs text-center w-100 d-inline-block">
                        <svg class="VerifyEmail_checkMarkIcon__1n4Gk checkMark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkMark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                            <path class="checkMark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                        </svg>
                        <h1 class="email-title m-0">{{showTitle}}</h1>
                        <p>{{showMessage}}</p>
                        <a href="/sign-in" class="premium-btn d-inline-block">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 