<section class="forgot-password sign-up w-100 d-inline-block position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="signup-box">
                    <a href="/" class="text-center d-table m-auto"><img src="assets/front/img/logo.png"></a>
                    <h1 class="signup-title text-center">Forgot your password?</h1>
                    <span class="signup-subtitle d-table text-center">No Worry, enter the email address you signed up with and we’ll send you <br> instructions to reset your password.</span>
                    <form class="Form d-table m-auto">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required="" autocomplete="email" placeholder="name@mail.com">
                        </div>
                        <button (click)="ForgotPassword()" id="forgotbtn" class="btn btn-success d-inline-block w-100" type="button">Reset Password</button>
                        <a href="/sign-in" class="return-btn d-inline-block text-center w-100 align-top">Return to Sign In</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> 