<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Plans</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Plans</li>
                    </ul>
                </div>
                <div class="col-auto"> 
                    <a title="Add plan" (click)="Plan_Model('0','','','','','','')" data-toggle="modal" data-target="#model_plan" href="javascript:void(0);" class="btn btn-primary mr-1">
                        Add Plan
                    </a>
                    <a (click)="getPlanFeatures()" data-toggle="modal" data-target="#model_add_features" class="btn btn-primary mr-1"
                        href="javascript:void(0);">
                        Add Features
                    </a>
                    <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div> 
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Search Filter -->
        <div class="filter-src-main">
            <div class="filter-src-heading">
                <div class="filter-src-close">
                    <i class="fas fa-times"></i>
                </div>
                <h5>Filter</h5>
            </div> 
            <div class="filter-src-inner">
                <div class="filter-src-row">
                    <div class="form-group">
                        <label>Plan Type</label>
                        <select id="filter_plan_type" class="select form-control">
                            <option value="">Select Plan Type</option>
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <!-- <option value="3">Premium</option> -->
                        </select>
                    </div>
                </div>
                <div class="filter-src-row">
                    <div class="form-group">
                        <label>Plan Name</label>
                        <input id="filter_plan_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="filter-src-row">
                    <div class="form-group">
                        <label>Title</label>
                        <input id="filter_title" type="text" class="form-control">
                    </div>
                </div>
                <div class="filter-src-row">
                    <div class="form-group">
                        <label>Month</label>
                        <input id="filter_month" type="text" class="form-control OnlyNumber">
                    </div>
                </div>
                <div class="filter-src-row">
                    <div class="form-group">
                        <label>Amount</label>
                        <input id="filter_amount" type="text" class="form-control OnlyNumber">
                    </div>
                </div>
                <div class="filter-src-row">
                    <div class="form-group">
                        <label>Status</label>
                        <select id="filter_status" class="select form-control">
                            <option value="">Select Status</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>        
            </div>
            <div class="filter-footer-fix row m-0">
                <div class="col">
                    <button type="button" (click)="FilterSearch()" class="btn btn-block btn-outline-primary active">Search</button>
                </div>
                <div class="col">
                    <button type="button" (click)="FilterReset()" class="btn btn-block btn-outline-danger active">Reset</button>
                </div>
            </div>
        </div> 
        <div class="filter-src-backdroup"></div>
        <!-- /Search Filter -->


        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive table-main">
                            <table id="DataTableList" class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <td>ID</td>
                                        <td>Plan Name </td>
                                        <td>Plan Title</td>
                                        <td>Description</td>
                                        <td>Month </td>
                                        <td>Amount </td>
                                        <td>Entry Date</td>
                                        <td>Status </td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="model_add_features" class="modal custom-modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Features</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tbl-features" class="table table-stripped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Action</th>
                                <th>Features</th>
                                <!-- <th>Sequence No</th> -->
                            </tr>
                        </thead>
                        <tbody class="cls-features draggable-list" cdkDropList (cdkDropListDropped)="drop($event)">
                            <tr class="tr_clone draggable-box" *ngIf="planFeaturesList?.length<=0" cdkDrag>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-primary mr-1 tr_clone_add">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-danger mr-1 tr_clone_del">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <input type="text" name="features_id[]" class="form-control features_id" style="display: none;"/>
                                    <input type="text" name="features[]" class="form-control features" />
                                </td>
                                <!-- <td width="10">
                                    <input type="text" name="sequence_no[]" class="form-control OnlyNumber sequence_no" (keypress)="isOnlyNumberKey($event)"/>
                                </td> -->
                            </tr> 
                            <tr class="tr_clone draggable-box" *ngFor="let feature of planFeaturesList" cdkDrag >
                               
                                <td >
                                    <a href="javascript:void(0);" class="btn btn-primary mr-1 tr_clone_add">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="DeleteFeatures(feature.id)" class="btn btn-danger mr-1 tr_clone_del">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <input type="text" value="{{feature.id}}" name="features_id[]" class="form-control features_id" style="display: none;"/>
                                    <input type="text" value="{{feature.features}}" name="features[]" class="form-control features"/>
                                </td>
                                <!-- <td width="10">
                                    <input type="text" value="{{feature.sequence_no}}" name="sequence_no[]" class="form-control OnlyNumber sequence_no" (keypress)="isOnlyNumberKey($event)" />
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="submit-section">
                    <button (click)="Add_Features()" class="btn btn-primary submit-btn" type="submit">SAVE</button>
                </div>
            </div>
        </div> 
    </div>
</div>

<div id="modelPermission" class="modal custom-modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Permission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="plan_id form-control" type="hidden">
                <div class="table-responsive" id="permission_body">
                    
                </div>
                <div class="submit-section">
                    <button (click)="Add_Permission()" class="btn btn-primary submit-btn" type="submit">SAVE</button>
                </div>
            </div>
        </div> 
    </div>
</div>

<div id="model_plan" class="modal custom-modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title parameter_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="plan_id" class="form-control" type="hidden">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Plan Type <span class="text-danger">*</span></label>
                            <select id="plan_type" class="select form-control">
                                <option value="">Select Plan Type</option>
                                <option value="1">Free</option>
                                <option value="2">Paid</option>
                                <!-- <option value="3">Premium</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Plan Name <span class="text-danger">*</span></label>
                            <input id="plan_name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Title <span class="text-danger">*</span></label>
                            <input id="title" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-6 monthSection">
                        <div class="form-group">
                            <label>Month <span class="text-danger">*</span></label>
                            <input maxlength="2" id="month" class="form-control OnlyNumber" type="text">
                        </div>
                    </div>
                    <div class="col-md-6 amountSection">
                        <div class="form-group">
                            <label>Amount <span class="text-danger">*</span></label>
                            <input id="amount" class="form-control OnlyNumber" type="text">
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="description" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="submit-section">
                    <button (click)="Add_Plan()" class="btn btn-primary submit-btn" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal custom-modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="message">Are you sure you want to delete record?</span>
                <div class="submit-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <button data-dismiss="modal" class="btn btn-block btn-rounded btn-outline-danger active"
                                type="button">No</button>
                        </div>
                        <div class="col-sm-6">
                            <button (click)="DeleteConfirm()"
                                class="btn btn-block btn-rounded btn-outline-success active" type="button">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="statusModal" class="modal custom-modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="message">Are you sure you want to change status?</span>
                <div class="submit-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <button data-dismiss="modal" class="btn btn-block btn-rounded btn-outline-danger active"
                                type="button">No</button>
                        </div>
                        <div class="col-sm-6">
                            <button (click)="Change_Status()"
                                class="btn btn-block btn-rounded btn-outline-success active" type="button">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->